// Tailwind
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

// Font family
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

// EndlineX configuration
.endlinex {
  &-cookie {
    @apply max-h-[90%] fixed flex flex-col bg-white rounded-lg px-8 pt-10 pb-6 text-white bottom-8 left-1/2 -translate-x-1/2;

    overflow: scroll;
    z-index: 998;

    @screen md {
      overflow: auto;
    }

    &-dialog {
      @apply flex flex-col items-center space-y-4 text-center text-default text-p;

      .title {
        @apply text-title font-bold;
      }

      .show-more {
        @apply block underline;
      }

      .footer {
        @apply flex flex-row justify-center space-x-4;

        button {
          @apply bg-gray-200 inline-block cursor-pointer overflow-hidden whitespace-nowrap rounded-md px-3 py-2 text-p text-center text-p font-bold no-underline transition-all duration-300 ease-in-out;

          &:is(:first-child) {
            @apply bg-accent text-default;

            &:hover {
              @apply bg-accent-darken text-default;
            }
          }

          &:hover {
            @apply bg-gray-300 text-default;
          }
        }
      }

      .credits {
        @apply flex flex-row justify-center items-center text-default text-p-sm;

        svg {
          @apply ml-2 w-[80px];
        }
      }
    }

    &-page {
      @apply flex flex-col text-default space-y-4;

      .title {
        @apply text-title font-bold;
      }

      .subtitle {
        @apply text-subtitle font-bold;
      }

      .description {
        @apply mt-4 text-p;
      }
    }
  }

  &-backdrop {
    @apply fixed w-full h-full bg-black top-0 left-0 opacity-50;

    cursor: default;
    z-index: 997;
  }
}

input:checked {
  ~ .dot {
    @apply bg-accent-dark translate-x-full;
  }
}